<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="../lib/jquery.ui.addresspicker.js"></script>
<script>
  $(function() {
    var addresspicker = $( "#addresspicker" ).addresspicker();
    var addresspickerMap = $( "#addresspicker_map" ).addresspicker({
      regionBias: "de",
      elements: {
        map:      "#contacts-edit-map",
        lat:      "#lat",
        lng:      "#lng",
        locality: '#locality',
        country:  '#country',
        type:    '#type' 
      }
    });
    var gmarker = addresspickerMap.addresspicker( "marker");
    gmarker.setVisible(true);
    addresspickerMap.addresspicker( "updatePosition");
    
  });

  </script>

<div id="contacts-edit-map"></div>

<div id="contacts-form">
<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <span> "Active?" </span>
  <%= f.check_box :isActive %>

</br></br>

  <div class="field">
    <%= f.label "Link" %><br />
    <%= f.text_field :wwwLink %>
  </div>

  <% Category.all.each do |cat| %>  
  <%= check_box_tag :category_ids,  
    cat.id,  
    @contact.categories.include?(cat),  
    :name => 'contact[category_ids][]' %>   
  <%= cat.name %> </br>   
  <% end %>

</br>

  <div class="field">
    <%= f.label :startDate %><br />
    <%= f.text_field :startDate %>
  </div>

  <div class="field">
    <%= f.label :endDate %><br />
    <%= f.text_field :endDate %>
  </div>

</br>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, :id => "addresspicker_map" %>
  </div>
  <div class="field">
    <%= f.text_field :latitude, :id => "lat" , :type => "hidden"%>
  </div>
    <div class="field">
    <%= f.text_field :longitude, :id => "lng" , :type => "hidden"%>
  </div>

  <input id="lat" type="hidden" disabled=disabled>
  <input id="lng" type="hidden" disabled=disabled> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

