
<% contact = Contact.find(@eid) %>

<div id="bubbleDate">
<% if (@startDate == @endDate) %>
  <%= @startDate %>
<% else %>
  <% if  @sameMonth %>
    <%= @startDateDigit + ". - " + @endDate %>
  <% else %>
    <%= @startDate + " - " + @endDate %>
  <% end %>
<% end %>

<%= "  " + @startTime + " - " + @endTime %> 

</br>
  <%= contact.categories.collect{|u| u.name}.join(', ') %>

</div>

<div id="bubbleMiddle">

  <span id="bubbleName">  <%= contact.name %> </span>

</br>

<%= contact.address %>
</br>
<% if contact.wwwLink != nil %>
  <a href="http://www.<%= contact.wwwLink %>" target="_blank"><%= contact.wwwLink %></a>
<% end %>
</div>


