
<h1>Editing Event Nr.<%= @contact.id %>: <%= @contact.name %></h1>
 
  <%= render 'form' %>

  <%= link_to 'Show', @contact %> |
  <%= link_to 'Back', contacts_path %>

</div>  <!-- closing div for float inside form partial -->

