<div class="devise">
  <% if user_signed_in? %>
    <strong><%= current_user.email %></strong> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</div>


<div>
  <%= link_to "Back to admin area", admin_path %></td>
</div>

<h3>Edit Events</h3>

<!-- <a href="map">MAP</a> -->


<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Address</th>
    <th>Link</th>
    <th>Category</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td>
      <% if contact.isActive?%>
        active 
      <% else %>
       frozen 
      <% end %>
    </td> 
    <td><%= contact.address %></td>
    <td><%= contact.wwwLink %></td>
    <td><%= contact.categories.collect{|u| u.name}.join(', ') %></td>
    <% if contact.startDate != nil %> 
      <td><%= contact.startDate %></td>
    <% else %>
       <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --- </td>
    <% end %>
    <% if contact.endDate != nil %> 
      <td><%= contact.endDate %></td>
    <% else %>
       <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --- </td>
    <% end %>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_contact_path %>
