<p id="notice"><%= notice %></p>

<h1> Übersicht für Kontakt Nr. <%= @contact.id %> </h1>


<div class="contacts-view" style="float: left; margin-right: 20px;">
<%= gmaps("markers" => { "data" => @json_single, "options" => { "do_clustering" => true } },
          "map_options" => { "auto_zoom" => false, "zoom" => 17 }) %>
</div>

<p>
  <b>Name:</b> <%= @contact.name %> 
</p>

<p>
  <b>Status:</b>
  <span>
    <% if @contact.isActive?%>
      Active 
    <% else %>
       Frozen 
    <% end %>
  </span>
</p>


<p>
  <b>Category:</b>
  <%= @contact.categories.collect{|u| u.name}.join(', ') %>
</p>

<p>
  <b>Address:</b>
  <%= @contact.address %>
</p>
<p>
  <b>Start Date:</b>
    <% if @contact.startDate != nil %> 
      <%= @contact.startDate %>
    <% else %>
       no Data yet, please edit
    <% end %>
</p>
<p>
  <b>End Date:</b>
    <% if @contact.endDate != nil %> 
      <%= @contact.endDate %>
    <% else %>
       single Day event OR please, enter a date!
    <% end %>
</p>




<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>

