<h1>Listing link1s</h1>

<table>
  <tr>
    <th>Contact</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @link1s.each do |link1| %>
  <tr>
    <td><%= link1.contact_id %></td>
    <td><%= link1.category_id %></td>
    <td><%= link_to 'Show', link1 %></td>
    <td><%= link_to 'Edit', edit_link1_path(link1) %></td>
    <td><%= link_to 'Destroy', link1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Link1', new_link1_path %>
