<p id="notice"><%= notice %></p>

<p>
  <b>Contact:</b>
  <%= @link1.contact_id %>
</p>

<p>
  <b>Category:</b>
  <%= @link1.category_id %>
</p>


<%= link_to 'Edit', edit_link1_path(@link1) %> |
<%= link_to 'Back', link1s_path %>
